In [4]:
import pandas as pd
import json 
import numpy as np
import plotly.express as px

In [2]:
india_states = json.load(open("Geojson files/states_india.geojson",'r'))

In [3]:
df = pd.read_csv("Air-Quality-Maps-2023-Averaged.csv")

In [18]:
state_id_map={}

In [19]:
for feature in india_states['features']:
    feature["id"]=feature['properties']['state_code']
    state_id_map[feature['properties']['st_nm']] = feature['id']

In [21]:
df['id'] = df['States/Ut'].apply(lambda X: state_id_map[X])

In [22]:
df

,States/Ut,NO2 (in μg/m³),SO2 (in μg/m³),PM10 (in μg/m³),PM2.5 (in μg/m³),id
0,Andhra Pradesh,22.568333,8.122500,72.212500,36.515833,28
1,Arunanchal Pradesh,1.310000,1.830000,39.170000,21.990000,12
2,Assam,12.100000,14.093333,127.173333,59.414444,18
3,Bihar,28.195937,12.369687,181.988966,84.497813,10
4,Chandigarh,29.656667,9.143333,118.676667,59.316667,4
5,Chhattisgarh,25.892143,9.634286,72.440000,28.555000,22
6,NCT of Delhi,36.191905,10.064412,206.705128,102.737317,7
7,Gujarat,14.625882,11.208824,102.835882,51.428235,24
8,Haryana,21.590000,12.342000,136.198148,64.483548,6
9,Himachal Pradesh,20.190000,32.580000,134.800000,60.070000,2
10,Jammu & Kashmir,10.500000,10.450000,73.650000,28.230000,1
11,Jharkhand,70.890000,50.852500,133.475000,53.020000,20
12,Karnataka,15.169756,11.488500,66.017250,30.728205,29
13,Kerala,10.693750,7.518750,64.408750,32.858750,32
14,Madhya Pradesh,21.157241,17.364286,105.420690,49.162759,23
15,Maharashtra,26.937865,13.983659,104.890899,48.073977,27
16,Manipur,8.495000,53.700000,83.270000,42.095000,14
17,Meghalaya,9.575000,19.310000,64.775000,31.390000,17
18,Mizoram,0.890000,1.060000,49.730000,9.930000,15
19,Nagaland,2.880000,33.030000,66.550000,32.950000,13
20,Odisha,19.700000,13.876667,134.557368,67.141579,21
21,Puducherry,10.720000,8.200000,51.970000,24.210000,34
22,Punjab,21.814286,10.848571,116.851429,51.125714,3
23,Rajasthan,23.845116,7.113023,126.400930,50.060698,8
24,Sikkim,2.260000,35.240000,30.850000,14.870000,11
25,Tamil Nadu,21.010769,15.976400,67.664615,31.286800,33
26,Telangana,14.832143,9.127857,85.210000,38.725000,0
27,Tripura,14.090000,25.215000,105.795000,76.590000,16
28,Uttar Pradesh,28.480364,18.017963,125.912545,55.747500,9
29,Uttarakhand,11.326667,3.476667,72.430000,31.653333,5
30,West Bengal,21.687333,10.225333,104.160000,51.468667,19

In [20]:
state_id_map

{'Telangana': 0,
 'Andaman & Nicobar Island': 35,
 'Andhra Pradesh': 28,
 'Arunanchal Pradesh': 12,
 'Assam': 18,
 'Bihar': 10,
 'Chhattisgarh': 22,
 'Daman & Diu': 25,
 'Goa': 30,
 'Gujarat': 24,
 'Haryana': 6,
 'Himachal Pradesh': 2,
 'Jammu & Kashmir': 1,
 'Jharkhand': 20,
 'Karnataka': 29,
 'Kerala': 32,
 'Lakshadweep': 31,
 'Madhya Pradesh': 23,
 'Maharashtra': 27,
 'Manipur': 14,
 'Chandigarh': 4,
 'Puducherry': 34,
 'Punjab': 3,
 'Rajasthan': 8,
 'Sikkim': 11,
 'Tamil Nadu': 33,
 'Tripura': 16,
 'Uttar Pradesh': 9,
 'Uttarakhand': 5,
 'West Bengal': 19,
 'Odisha': 21,
 'Dadara & Nagar Havelli': 26,
 'Meghalaya': 17,
 'Mizoram': 15,
 'Nagaland': 13,
 'NCT of Delhi': 7}

In [35]:
india_states['features'][1]['properties']

{'cartodb_id': 2, 'state_code': 35, 'st_nm': 'Andaman & Nicobar Island'}

In [ ]:
import plotly.io as pio

In [43]:
pio.renderers.default = 'browser'

In [44]:
fig = px.choropleth(df,locations='id',geojson=india_states,color='NO2 (in μg/m³)')
fig.update_geos(fitbounds="locations", visible=False)
fig.show()

In [45]:
px.choropleth(df,locations='id',geojson=india_states,color='NO2 (in μg/m³)')